.portfolio {
    font-family: 'Lato', sans-serif;
	&__content {}
	&__title {
        padding-top: 66px;
        padding-bottom: 24px;
        text-align: center;
        color: #3d506f;
        font-size: 30px;
        font-weight: 400;
        line-height: 27px;
        text-transform: uppercase;
    }
	&__subtitle {
        text-align: center;
        color: #7f90a5;
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        text-transform: uppercase;
    }
	&__line {
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        justify-content: center;
        &__line-left {
            margin-top: 7px;
            width: 275px;
            min-width: 100px;
            height: 1px;
            background-color: #7f90a5;
        }
        &__circle{
            margin-left: 5px;
            margin-right: 5px;
            border: 1px solid #7f90a5;
            border-radius: 50%;
            width: 16px;
            height: 16px;
        }
        &__line-right {
            margin-top: 7px;
            width: 275px;
            min-width: 100px;
            height: 1px;
            background-color: #7f90a5;
        }
	}
	&__text {
        margin: 0 auto;
        max-width: 760px;
        text-align: center;
        color: #7f90a5;
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;
    }
	&__menu {
        padding-top: 64px;
        padding-bottom: 68px;
        // border: 1px solid #000;
        color: #fff;
        display: flex;
        justify-content: center;
    }
	&__gallery {
        padding-bottom: 20px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
    }
	&__button {
		&__link {}
        &__img {}
	}
	&__title2 {}
	&__subtitle2 {}
	&__button2 {
		&__link {}
	}
}
.menu {
	&__item {}
	&__link {
        // border: 1px solid red;
        margin-right: 20px;
        padding: 10px 20px;
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        text-transform: uppercase;
        background-color: #3d506f;
        &:hover{
            background-color: #00c7fc;
        }
    }
}
.gallery {
    &__title {
        display: none;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        color: #fff;

    }
    &__subtitle{
        display: none;
        color: #fff;
        font-size: 15px;
        font-weight: 300;
        line-height: 27px;
    }
	&__item {
        text-align: center;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        width: 270px;
        height: 200px;
        border: 1px solid #000;
        background: url(../public/img/portfolio/img.jpg) no-repeat;
        &:hover{
            background: #222c40;
            .gallery__title {
                display: block;
            }
            .gallery__subtitle{
                display: block;
            }
            .gallery {
                &__info{
                    display: block;
                }
                
            }
        }
        // &:active{
            
        // }
    }
	&__info {
        height: 470px;
        // display: none;
        background: #161f32 100% no-repeat;
        background-size: cover;
        color: #fff;
        display: flex;
		&__img {
            width: 568px;
            height: 420px;
            margin: 25px;
            margin-left: 0;
        }
        &__right-block {
            display: flex;
            flex-direction: column;
        }
		&__title {
            padding-top: 40px;
            padding-bottom: 20px;
            font-size: 20px;
            font-weight: 700;
            line-height: 27px;
            text-transform: uppercase;
        }
		&__text {
            margin-right: 25px;
            font-size: 15px;
            font-weight: 300;
            line-height: 23px;
        }
		&__line {
            margin-top: 15px;
            margin-bottom: 15px;
            max-width: 570px;
            height: 1px;
            background-color: #fff;
        }
		&__info {
            
            margin-bottom: 30px;
            // display: flex;
            // flex-direction: column;
        }
		&__button {
            // margin-top: 20px;
        }
	}
}
.info {
	&__item {
        display: flex;
        // flex-direction: column;
    }
	&__icon {
        margin-right: 10px;
    }
	&__text {
        // max-width: 570px;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
    }
	&__button {
		&__link {
            
            border: 1px solid #fff;
            padding: 20px 35px;
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            line-height: 27px;
            &:hover{
                background-color: #fff;
                color: #161f32;
                border: 1px solid #161f32;
            }
        }
	}
}
