.home
    .home__block
    .container
        .home__content
            .home__title Artica
            .home__line
            .home__text Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttlit nisi, pretium utlacinia in elementumestibulum ac diam sit anet.
            .home__button Purshase Theme
    .home__block