.portfolio
    .container
        .portfolio__content
            .portfolio__title MODERN AND CLEAN DESIGN
            .portfolio__subtitle OUR PORTFOLIO
            .portfolio__line
                .portfolio__line__line-left
                .portfolio__line__circle
                .portfolio__line__line-right
            .portfolio__text Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet.
            nav.portfolio__menu
                .menu__item
                    a.menu__link(href="#") ALL
                .menu__item
                    a.menu__link(href="#") GRAPHIC
                .menu__item
                    a.menu__link(href="#") WEB
                .menu__item
                    a.menu__link(href="#") PHOTOGRAPHY
            .portfolio__gallery
                .gallery__item
                    //- img.gallery__img(src="../public/img/portfolio/img.jpg", alt="#")
                .gallery__item
                    //- img.gallery__img(src="../public/img/portfolio/img.jpg", alt="#")
                .gallery__item
                    //- img.gallery__img(src="../public/img/portfolio/img.jpg", alt="#")
                .gallery__item
                    //- img.gallery__img(src="../public/img/portfolio/img.jpg", alt="#")

            .gallery__info
                img.gallery__info__img(src="../public/img/portfolio/img.jpg", alt="#")
                .gallery__info__title LOREM IPSUM IMAGE
                .gallery__info__text Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet.Oitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet.
                .gallery__info__line
                .gallery__info__info
                    .info__item
                        img.info__icon(src="../public/img/portfolio/clock.svg", alt="")
                        .info__text March 2013
                    .info__item
                        img.info__icon(src="../public/img/portfolio/people.svg", alt="")
                        .info__text Lorem Studio,NY
                    .info__item
                        img.info__icon(src="../public/img/portfolio/tool.svg", alt="")
                        .info__text AI,PS Design
                .gallery__info__button
                    a.info__button__link(href="#") View In Action


            .portfolio__gallery
                .gallery__item
                    //- img.gallery__img(src="../public/img/portfolio/img.jpg", alt="#")
                .gallery__item
                    //- img.gallery__img(src="../public/img/portfolio/img.jpg", alt="#")
                .gallery__item
                    //- img.gallery__img(src="../public/img/portfolio/img.jpg", alt="#")
                .gallery__item
                    //- img.gallery__img(src="../public/img/portfolio/img.jpg", alt="#")

            .portfolio__button
                .portfolio__button__link
                    img.portfolio__button__img(src="../public/img/arrow-down_white.svg", alt="")
            .portfolio__title2 WE LOVE OUR WORK
            .portfolio__subtitle2 Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidun.
            .portfolio__button2
                a.portfolio__button2__link(href="#") Purshase Theme
                    
