.services
    .container
        .services__content
            .services__title FULLY LAYERED AND CUSTOMIZABLE TEMPLATE
            .services__subtitle OUR SERVICES
            .services__line
                .services__line__line-left
                .services__line__circle
                .services__line__line-right
            .services__text Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet.
            .services__list-of-services
                .list-of-services__item
                    .list-of-services__circle
                        img.list-of-services__img(src="../public/img/services/html.svg", alt="")
                    .list-of-services__title HTML&CSS
                    .list-of-services__text Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor.

                .list-of-services__item
                    .list-of-services__circle
                        img.list-of-services__img(src="../public/img/services/design.svg", alt="")
                    .list-of-services__title GRAPHIC DESIGN
                    .list-of-services__text Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor.

                .list-of-services__item
                    .list-of-services__circle
                        img.list-of-services__img(src="../public/img/services/time.svg", alt="")
                    .list-of-services__title ON TIME PROJECTS
                    .list-of-services__text Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor.

                .list-of-services__item
                    .list-of-services__circle
                        img.list-of-services__img(src="../public/img/services/support.svg", alt="")
                    .list-of-services__title FULLY SUPPORT
                    .list-of-services__text Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor.
    .services__quote
        .container
            .quote__content
                .quote__title Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.
                .quote__subtitle Thomas J. Watson
