<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&family=Molle:ital@1&display=swap" rel="stylesheet")
        title Artica
    body
        .wrapper
            include components/header.pug
            //- include components/home
            //- include components/services
            //- include components/portfolio
            //- include components/about
            //- include components/skills
            //- include components/blog
            //- include components/clients
            //- include components/contact
